#about-text {
  position: absolute;
  top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  font-weight: 100;
  word-wrap: break-word;
  color: #999;
}

#about-text h3 {
  font-weight: 100;
}

@media only screen and (max-width: 800px) {
  #about {
    display:inline-block;
    vertical-align:top;
  }

  #about img {
    z-index: -1;
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 60px;
  }

  #about-text {
    display: block;
    position: absolute;
    width: 90%;
    padding: 10px;
  }
}

@media only screen and (max-width: 700px) {
  #about-text {
    top: 520px;
  }
}

@media only screen and (max-width: 600px) {
  #about-text {
    top: 480px;
  }
}

@media only screen and (max-width: 500px) {
  #about-text {
    top: 400px;
  }
}

@media only screen and (max-width: 400px) {
  #about-text {
    display: block;
    overflow-y: scroll;
    height: 380px;
    top: 310px;
    width: auto;

  }
}

@media only screen and (max-width: 350px) {
  #about-text {
    top: 270px;
    height: 340px;
  }
}
