.jumbotron {
  display: block;
  height: 100vh;
  clear: both;
}

/* WELCOME PAGE */
.content-text {
  position: absolute;
  top: 12%;
  left: 3%;
  padding-right: 50%;
  font-weight: 100;
  word-wrap: break-word;
}

.content-text h3 {
  font-weight: 100;
}

#welcome-text {
  color: #F9F9F9;
}

@media only screen and (max-width: 700px) {
  img {
    position: absolute;
    display: block;
  }

  #welcome {
    height: auto;
    clear: both;
  }

  #welcome-img {
    display: block;
    width: 100%;
    height: auto;
  }

  #welcome-text {
    display: block;
    top: 55%;
    width: auto;
    color: #333;
  }

  .content-text {
    display: block;
    padding-right: 0;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 400px) {
  img {
    position: absolute;
    display: block;
  }

  #welcome {
    height: auto;
    clear: both;
  }

  #welcome-img {
    display: block;
    width: 100%;
    height: auto;
  }

  #welcome-text {
    display: block;
    top: 47%;
    width: auto;
  }

  .content-text {
    display: block;
    padding-right: 0;
    margin-right: 3%;
  }
}

/* PRODUCTS PAGE */
#hr-top {
  position: fixed;
  top: 52px;
  left: 0;
  right: 0;
}

#hr-bottom {
  position: fixed;
  bottom: 41px;
  left: 0;
  right: 0;
}

#promo {
  display: inline-block;
  height: auto;
  width: 35%;
  padding: 20px;
  margin: 5% 0 0 15%;
}

#products-text {
  display: inline-block;
  width: 35%;
  margin: 15% 0 0 55%;
  font-weight: 100;
  color: #444;
}

#products-text h3 {
  font-weight: 100;
}

#product-submit {
  display: inline-block;
  height: 60px;
  margin: 20px 55% 0 5%;
  width: 40%;

  color: #555;
  text-align: center;
  font-size: 11px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  color: #FFF;
  background-color: #444;
  border-color: #444;
}

@media only screen and (max-width: 1000px) {
  #products {
    height: 115%;
  }

  #promo {
    z-index: -1;
    display: block;
    position: absolute;
    width: 55%;
    height: auto;
    padding: 0;
    margin: 5%;
    top: 3%;
    left: 20%;
    right: 5%;
  }

  #products-text {
    display: block;
    position: absolute;
    top: 83%;
    margin: 1%;
    margin-left: 8%;
    width: 85%;
  }

  #product-submit {
    display: block;
    position: absolute;
    width: 40%;
    text-align: center;
    margin: 1%;
    margin-left: 28%;
  }
}

@media only screen and (max-width: 850px) {
  #products {
    height: 115%;
  }

  #promo {
    z-index: -1;
    display: block;
    position: absolute;
    width: 55%;
    height: auto;
    padding: 0;
    margin: 5%;
    top: 3%;
    left: 20%;
    right: 5%;
  }

  #products-text {
    display: block;
    position: absolute;
    top: 67%;
    margin: 1%;
    margin-left: 8%;
    width: 85%;
  }

  #product-submit {
    display: block;
    position: absolute;
    width: 40%;
    text-align: center;
    margin: 1%;
    margin-left: 28%;
  }
}

@media only screen and (max-width: 925px) {
  #products-text {
    top: 75%;
  }
}

@media only screen and (max-width: 700px) {
  #promo {
    display: block;
    position: absolute;
    width: 65%;
    height: auto;
    padding: 0;
    margin: 20%;
    top: 5%;
    left: 2%;
    right: 5%;
  }

  #products-text {
    display: block;
    position: absolute;
    top: 79%;
    margin: 2%;
    margin-left: 8%;
    width: 85%;
  }

  #product-submit {
    display: block;
    position: absolute;
    width: 40%;
    text-align: center;
    margin: 1%;
    margin-left: 28%;
  }
}

@media only screen and (max-width: 400px) {
  #products {
    min-height: 100%;
    width: 100%;
  }

  #promo {
    display: block;
    position: absolute;
    width: 65%;
    height: auto;
    padding: 0;
    margin: 20%;
    top: 10%;
    left: 2%;
    right: 5%;
  }

  #products-text {
    display: block;
    position: absolute;
    top: 68%;
    margin: 2%;
    margin-left: 8%;
    width: 85%;
  }

  #product-submit {
    display: block;
    position: absolute;
    width: 40%;
    text-align: center;
    margin: 2%;
    margin-left: 28%;
  }
}

/* ABOUT US PAGE */
#about-text {
  color: #A8A8A8;
  /* color: #FAEBD7; */
  top: 7%;
  padding-right: 10%;
  padding-left: 10%;
  top: 10%;
}

@media only screen and (max-width: 800px) {
  #about {
    display:inline-block;
    vertical-align:top;
  }

  #about img {
    z-index: -1;
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 60px;
  }

  #about-text {
    display: block;
    position: absolute;
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
    top: 62%;
  }
}

@media only screen and (max-width: 700px) {
  #about-text {
    top: 53%;
  }
}

@media only screen and (max-width: 600px) {
  #about-text {
    top: 48%;
  }
}

@media only screen and (max-width: 500px) {
  #about-text {
    top: 40%;
  }
}

@media only screen and (max-width: 400px) {
  img {
    position: absolute;
    display: block;
  }

  #about {
    display:inline-block;
    vertical-align:top;
  }

  #about-img {
    display: block;
    width: 100%;
    height: auto;
  }

  #about-text {
    display: block;
    top: 47%;
    width: auto;
  }
}
