.footer {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FDFDFD;
  font-size: 16px;
  color: #444;
  clear: both;
}

#copyright {
  margin: 18px;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
}

#social-icons {
  display: inline-block;
  margin-left: 28%;
}

#social-icons a {
  text-decoration: none;
  color: #444;
}

.fa-twitter:hover {
  color:#28C7FB;
}

.fa-instagram:hover {
  color:#28C7FB;
}

.footer-links {
  display: inline-block;
  margin-left: 25%;
}

@media only screen and (max-width: 1400px) {
  #social-icons {
    margin-left: 24%;
  }

  .footer-links {
    margin-left: 23%;
  }
}

@media only screen and (max-width: 1250px) {
  #social-icons {
    margin-left: 22%;
  }

  .footer-links {
    margin-left: 21%;
  }
}

@media only screen and (max-width: 1150px) {
  #social-icons {
    margin-left: 19%;
  }

  .footer-links {
    margin-left: 19%;
  }
}

@media only screen and (max-width: 1050px) {
  #social-icons {
    margin-left: 15%;
  }

  .footer-links {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 950px) {
  #social-icons {
    margin-left: 12%;
  }

  .footer-links {
    margin-left: 12%;
  }

  .newsletter {
    margin: 5px;
  }

  .legalese {
    margin: 5px;
  }
}

@media only screen and (max-width: 850px) {
  #social-icons {
    margin-left: 6%;
  }

  .footer-links {
    margin-left: 6%;
  }

  .newsletter {
    margin: 3px;
  }

  .legalese {
    margin: 3px;
  }
}

@media only screen and (max-width: 750px) {
  #social-icons {
    margin-left: 3%;
  }

  .footer-links {
    margin-left: 3%;
  }

  .newsletter {
    margin: 1px;
  }

  .legalese {
    margin: 1px;
  }
}

/* SMALL VIEW */
@media only screen and (max-width: 700px) {
  .footer {
   position: relative;
   height:280px;
   bottom:0px;
   top: 100vh;
  }

  #copyright {
    padding-top: 10px;
    margin-left: 0;
    display: block;
    text-align: center;
  }

  #social-icons {
    margin-left: 0;
    display: block;
    text-align: center;
  }

  .footer-links {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  #copyright {
    padding-top: 10px;
    margin-left: 0;
    display: block;
    text-align: center;
  }

  #social-icons {
    margin-right: 15px;
    display: block;
    text-align: center;
  }

  .footer-links {
    display: block;
    width: 100%;
    margin: 0;
  }

  .legalese-content a {
    margin-right: 10px;
  }
}
