html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

img {
  opacity: 0.8;
}

.nav {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 60px;
  left: 0;
  top: 0;
  min-width: 100%;
  background-color: #FDFDFD;
}

#logo {
  font-size: 30px;
  color: #444;
  margin: 12px;
  text-decoration: none;
  display: inline-block;
  font-weight: 100;
}

#logo:hover {
  color:#28C7FB;
}

.nav-links {
  font-size: 16px;
  color: #444;
  margin: 20px;
  padding-left: 70%;
  position: absolute;
  display: inline-block;
}

#products {
  color: #444;
  padding-right: 15px;
  text-decoration: none;
  display: inline-block;
}

#products:hover {
  color:#28C7FB;
}

#about {
  color: #444;
  text-decoration: none;
    display: inline-block;
}

#about:hover {
  color:#28C7FB;
}

.jumbotron img {
  position: fixed;
  top: 60px;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#welcome-text {
  position: absolute;
  top: 12%;
  left: 3%;
  padding-right: 50%;
  font-weight: 100;
  color: #A8A8A8;
  word-wrap: break-word;
}

#welcome-text h3 {
  font-weight: 100;
}

.footer {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 50px;
  left: 0;
  bottom: 0;
  min-width: 100%;
  background-color: #FDFDFD;
  font-size: 16px;
  color: #444;
/*   text-align-last: center;
 */}

#copyright {
  margin: 18px;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
}

#social-icons {
  display: inline-block;
  padding-left: 30%;
}

#social-icons a {
  text-decoration: none;
  color: #444;
}

.fa-twitter:hover {
  color:#28C7FB;
}

.fa-instagram:hover {
  color:#28C7FB;
}

#newsletter {
  margin: 18px;
  padding-left: 18%;
  text-decoration: none;
  position: absolute;
  display: inline-block;
  font-size: 13px;
  color: #444;
}

#legalese {
  margin: 18px;
  padding-left: 30%;
  text-decoration: none;
  position: absolute;
  display: inline-block;
  font-size: 13px;
  color: #444;
}

.transition {
  /* MOUSEOVER TRANSITION */
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
