.nav {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 60px;
  left: 0;
  top: 0;
  min-width: 100%;
  background-color: #FDFDFD;
}

#welcome-link {
  font-size: 30px;
  color: #444;
  margin: 12px;
  padding-left: 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: 100;
}

.nav-links {
  font-size: 16px;
  color: #444;
  margin: 20px 20px 20px 70%;
  position: absolute;
  display: inline-block;
}

#products-link {
  color: #444;
  margin-right: 15px;
  text-decoration: none;
  display: inline-block;
}

#about-link {
  color: #444;
  text-decoration: none;
  display: inline-block;
}

/* NAV SPACING MEDIA QUERY FOR LARGE & MEDIUM */
@media only screen and (max-width: 1200px) {
  .nav-links {
    margin: 20px 20px 20px 65%;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-links {
    margin: 20px 20px 20px 55%;
  }
}

@media only screen and (max-width: 800px) {
  .nav-links {
    margin: 20px 20px 20px 50%;
  }
}

/* NAV SPACING FOR SMALL */
@media only screen and (max-width: 700px) {
  .nav {
    z-index: 1;
    height: 15%;
  }

  #welcome-link {
    display: block;
    margin: 2% 43%;
    margin-bottom: 0;
  }

  .nav-links {
    display: block;
    text-align: center;
    margin: 10px 45%;
    font-size: 20px;
  }

  #products-link {
    display: block;
    padding: 5px 0;
    margin-right: 20px;
  }

  #about-link {
    display: block;
    padding: 5px 0;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  #welcome-link {
    margin: 2% 43%;
    margin-bottom: 0;
  }

  .nav-links {
    margin: 10px 45%;
  }

  #products-link {
    margin-right: 20px;
  }

  #about-link {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .nav {
    height: 19%;
  }
  #welcome-link {
    margin: 2% 31%;
    margin-bottom: 0;
  }

  .nav-links {
    margin: 10px 35%;
  }
}


#welcome-link:hover {
  color:#28C7FB;
}

#products-link:hover {
  color:#28C7FB;
}

#about-link:hover {
  color:#28C7FB;
}
