#welcome-text {
  position: absolute;
  top: 12%;
  left: 3%;
  padding-right: 50%;
  font-weight: 100;
  color: #F9F9F9;
  word-wrap: break-word;
}

#welcome-text h3 {
  font-weight: 100;
}

#welcome img {
  width: 100vw;
  height: auto;
}

@media only screen and (min-width: 1450px) {
  #welcome img {
    width: 100%;
    height: auto;
  }
}


@media only screen and (max-width: 700px) {
  #welcome {
    height: auto;
    clear: both;
  }

  #welcome img {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
  }

  #welcome-text {
    display: block;
    top: 55%;
    width: auto;
    color: #333;
    padding-right: 0;
    margin-right: 3%;
  }

  hr {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #welcome-text {
    top: 450px;
  }
}

@media only screen and (max-width: 500px) {
  #welcome-text {
    top: 400px;
  }
}

@media only screen and (max-width: 400px) {
  #welcome {
    height: auto;
    clear: both;
  }

  #welcome img {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
  }

  #welcome-text {
    display: block;
    overflow-y: scroll;
    top: 315px;
    height: 350px;
    width: auto;
  }
}

@media only screen and (max-width: 350px) {
  #welcome-text {
    top: 270px;
  }
}
